@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@media (max-width: 960px) {

  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {

  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {

  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

body {
  background: #14213d;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #161a1d;
  font-weight: 500;
  line-height: 30px;
  background-attachment: fixed;
}

a {
  text-decoration: none;
}

.container {
  width: 70%;
  text-align: center;
  margin: 50px auto;
}

.p-profile {
  display: flex;
  justify-content: center;
  top: -90px;
  position: relative;
}

.p-profile>img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.2);
}

h1 {
  position: relative;
  top: -70px;
  color: #192bc2;
}

.description {
  position: relative;
  top: -50px;
}

.card {
  padding: 20px;
  margin: 30px 0;
  background: rgb(255, 255, 255);
  background: linear-gradient(145deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 100%);
  border-radius: 30px;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0px 1px 24px -1px rgba(0, 0, 0, 0.2);
  position: relative;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
  font-size: 50px;
  margin: 20px;
}

.list-inline>li {
  display: inline-block;
}

.list-inline>li>a {
  color: #192bc2;
}

.list-inline>li>a:hover {
  color: aliceblue;
  border: 1px solid #192bc2;
}

.btn {
  background-color: #192bc2;
  color: aliceblue;
  padding: 10px;
  border-radius: 15px;
  position: relative;
  top: -30px;
}

.btn:hover {
  background-color: aliceblue;
  color: #192bc2;
}

.circle1,
.circle2,
.circle3,
.circle4 {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  animation: ripple 5s infinite;
}

.circle1 {
  top: 10%;
  right: 30%;
  height: 270px;
  width: 270px;
  background: linear-gradient(90deg, #0084ff, #0ff);
  position: fixed;
}

.circle2 {
  top: 50%;
  right: 50%;
  height: 240px;
  width: 240px;
  background: linear-gradient(90deg, #00ffd9, #00ff84);
  position: fixed;
  animation-delay: 1.5s;
}

.circle3 {
  top: 65%;
  right: 15%;
  height: 260px;
  width: 260px;
  background-image: linear-gradient(90deg, #FAD961 0%, #F76B1C 100%);
  position: fixed;
  animation-delay: 1s;
}

.circle4 {
  top: 80%;
  right: 75%;
  height: 200px;
  width: 200px;
  background-image: linear-gradient(19deg, #6121fd 0%, #B721FF 100%);
  position: fixed;
  animation-delay: 0.5s;
}

@keyframes ripple {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
